In [2]:
##Agustin Hejeij
##Padron 102324

import pandas as pd
import datetime
import folium
import os

df = pd.read_csv('Entrenamieto_ECI_2020.csv', encoding='utf-8')

In [7]:
gb = df.groupby('Opportunity_ID').agg({'Price':'mean'})
display(gb.Price.count())
display(gb.size)

267

9841

In [8]:
reduced = df.loc[:, ['Opportunity_ID', 'Opportunity_Created_Date', 'ASP_Currency','ASP', 'ASP_(converted)','ASP_(converted)_Currency']].loc[df['ASP_Currency']=='JPY']
display(reduced)
display(reduced['Opportunity_ID'].nunique())
display(reduced['ASP'].count())

asd = reduced.dropna().groupby('Opportunity_ID').agg({'ASP':['count', 'nunique']})
asd.columns = ['cant', 'dist']
display(asd)
mul = asd[asd['dist'] > 1]
mul

,Opportunity_ID,Opportunity_Created_Date,ASP_Currency,ASP,ASP_(converted),ASP_(converted)_Currency
8,8,12/9/2015,JPY,NaN,NaN,USD
9,8,12/9/2015,JPY,NaN,NaN,USD
10,8,12/9/2015,JPY,NaN,NaN,USD
11,8,12/9/2015,JPY,NaN,NaN,USD
12,8,12/9/2015,JPY,78.0,0.70125,USD
...,...,...,...,...,...,...
16919,12784,12/2/2015,JPY,78.0,0.70125,USD
16923,12786,12/2/2015,JPY,67.0,0.60236,USD
16924,12787,12/2/2015,JPY,67.0,0.60236,USD
16925,12788,12/2/2015,JPY,71.0,0.63832,USD
16926,12789,12/2/2015,JPY,72.0,0.64731,USD

1604

1786

                cant  dist
Opportunity_ID
8                  1     1
9                  1     1
10                 1     1
13                 1     1
14                 1     1
...              ...   ...
12784              1     1
12786              1     1
12787              1     1
12788              1     1
12789              1     1

[1602 rows x 2 columns]

                cant  dist
Opportunity_ID
411                2     2
1220               2     2
2355               3     2
3391               2     2
3809               2     2
7173               3     2
10613              2     2

In [9]:
joined = df.merge(mul, on='Opportunity_ID')
joined.loc[:, ['Opportunity_ID', 'Opportunity_Created_Date', 'ASP_Currency','ASP', 'ASP_(converted)','ASP_(converted)_Currency','Planned_Delivery_Start_Date']]

,Opportunity_ID,Opportunity_Created_Date,ASP_Currency,ASP,ASP_(converted),ASP_(converted)_Currency,Planned_Delivery_Start_Date
0,411,1/13/2017,JPY,58.0,0.52144,USD,3/1/2017
1,411,1/13/2017,JPY,55.0,0.49447,USD,3/1/2017
2,1220,2/16/2016,JPY,71.0,0.63832,USD,3/15/2016
3,1220,2/16/2016,JPY,73.0,0.65630,USD,3/15/2016
4,2355,8/26/2016,JPY,60.0,0.53942,USD,9/30/2016
5,2355,8/26/2016,JPY,55.0,0.49447,USD,9/30/2016
6,2355,8/26/2016,JPY,60.0,0.53942,USD,9/30/2016
7,3391,12/12/2016,JPY,51.0,0.45851,USD,4/1/2017
8,3391,12/12/2016,JPY,53.0,0.47649,USD,4/1/2017
9,3809,3/30/2017,JPY,51.0,0.45851,USD,6/5/2017
10,3809,3/30/2017,JPY,53.0,0.47649,USD,6/5/2017
11,7173,3/29/2018,JPY,45.0,0.40007,USD,6/21/2018
12,7173,3/29/2018,JPY,45.0,0.40007,USD,7/19/2018
13,7173,3/29/2018,JPY,43.0,0.38209,USD,6/27/2018
14,10613,12/14/2018,JPY,40.0,0.35962,USD,10/1/2019
15,10613,12/14/2018,JPY,43.0,0.38659,USD,10/1/2019

In [10]:
##aaa = df.groupby(['Planned_Delivery_Start_Date','ASP_Currency']).agg({'ASP':'mean', 'ASP_(converted)':'mean'})
aaa = df.groupby(['Opportunity_Created_Date','ASP_Currency']).agg({'ASP':'mean', 'ASP_(converted)':'mean'})
b = aaa.reset_index()
b.columns = ['Opportunity_Created_Date', 'ASP_Currency', 'ASP_mean', 'ASP_(converted)_mean']
b['coef']=b['ASP_(converted)_mean']/b['ASP_mean']
final = b.drop(columns=['ASP_mean', 'ASP_(converted)_mean'])
final = final.loc[final['ASP_Currency']!='USD']
final

     Opportunity_Created_Date ASP_Currency      coef
1                   1/10/2017          EUR  1.131096
2                   1/10/2017          JPY  0.008990
4                   1/10/2018          AUD  0.707614
5                   1/10/2018          EUR  1.131091
6                   1/10/2018          JPY  0.008990
...                       ...          ...       ...
2348                 9/8/2017          EUR  1.131099
2349                 9/8/2017          JPY  0.008990
2352                 9/9/2015          EUR  1.131091
2353                 9/9/2015          JPY  0.008990
2355                 9/9/2016          EUR  1.131092

[1391 rows x 3 columns]

In [11]:
new = df.merge(final, on=['Opportunity_Created_Date','ASP_Currency'])
new[new['Opportunity_Created_Date']=='12/9/2015'].loc[:, ['Opportunity_ID', 'Opportunity_Created_Date', 'ASP_Currency','ASP', 'ASP_(converted)','ASP_(converted)_Currency','coef','Last_Modified_Date']]

,Opportunity_ID,Opportunity_Created_Date,ASP_Currency,ASP,ASP_(converted),ASP_(converted)_Currency,coef,Last_Modified_Date
2,8,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
3,8,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
4,8,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
5,8,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
6,8,12/9/2015,JPY,78.00,0.70125,USD,0.008990,4/5/2016
7,9,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
8,9,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
9,9,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
10,9,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
11,9,12/9/2015,JPY,78.00,0.70125,USD,0.008990,4/5/2016
12,10,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
13,10,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
14,10,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
15,10,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
16,10,12/9/2015,JPY,78.00,0.70125,USD,0.008990,4/5/2016
17,13,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
18,13,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
19,13,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
20,13,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
21,13,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
22,13,12/9/2015,JPY,78.00,0.70125,USD,0.008990,4/5/2016
23,14,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
24,14,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
25,14,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
26,14,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
27,14,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
28,14,12/9/2015,JPY,78.00,0.70125,USD,0.008990,4/5/2016
29,15,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
30,15,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
31,15,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
32,15,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
33,15,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
34,15,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
35,15,12/9/2015,JPY,78.00,0.70125,USD,0.008990,4/5/2016
36,16,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
37,16,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
38,16,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
39,16,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
40,16,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
41,16,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
42,16,12/9/2015,JPY,78.00,0.70125,USD,0.008990,4/5/2016
43,17,12/9/2015,JPY,NaN,NaN,USD,0.008990,1/6/2016
44,17,12/9/2015,JPY,NaN,NaN,USD,0.008990,1/6/2016
45,17,12/9/2015,JPY,NaN,NaN,USD,0.008990,1/6/2016
46,17,12/9/2015,JPY,NaN,NaN,USD,0.008990,1/6/2016
47,17,12/9/2015,JPY,78.00,0.70125,USD,0.008990,1/6/2016
48,18,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
49,18,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
50,18,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
51,18,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
52,18,12/9/2015,JPY,NaN,NaN,USD,0.008990,4/5/2016
53,18,12/9/2015,JPY,78.00,0.70125,USD,0.008990,4/5/2016
54,19,12/9/2015,EUR,0.55,0.62210,USD,1.131093,10/28/2016
55,20,12/9/2015,EUR,0.53,0.59948,USD,1.131093,12/9/2015

In [12]:
c = df.groupby('Opportunity_ID').agg({'Stage':'nunique'})
c = c.reset_index()

In [13]:
n = df[df.Stage=='Closed Won']
display(n.Territory.count())##value_counts().sum()
n = n[n.Region!='None']
display(n.Territory.count())
display(df.ID.count())

9533

9533

16947

In [14]:
df.Opportunity_ID.nunique()

9841

In [15]:
df[df.Territory!='None'].Territory.count()

11948

In [3]:
##qwe = df.groupby(['Opportunity_ID', 'Territory']).agg({'TRF':'nunique'}).reset_index()##.drop(columns='ASP')
qwe = df.groupby('Territory').agg({'TRF':'sum'}).reset_index()
##display(qwe.Opportunity_ID.nunique())
##qwe[qwe.Territory != 'None'].Territory.count()
##df[df.Region == 'EMEA'].Territory.value_counts()
##df.Region.value_counts()

#qwe = pd.read_csv('wn.csv')
##qwe['Territory'] = pd.to_str(qwe.Territory)
##qwe.dtypes

In [12]:
##state_geo = os.path('world-countries.json')
m = folium.Map(location=[0, -0], zoom_start=2)
m.choropleth(
 geo_data='world-countries.json',
 name='choropleth',
 data=qwe,
 columns=['Territory', 'TRF'],
 key_on='feature.properties.name',
 fill_color='YlGn',
 fill_opacity=0.7,
 line_opacity=0.2,
 legend_name='TRF Usage'
)
folium.LayerControl().add_to(m)

m.save('#292_folium_chloropleth_USA1.html')