# FINGER 1

Imports

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

data_path = "data.csv"

## 1 - Apertura y carga del data set

In [2]:
df = pd.read_csv(data_path)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16947 non-null  int64
 1   Region                              16947 non-null  object
 2   Territory                           16947 non-null  object
 3   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  int64
 4   Pricing, Delivery_Terms_Approved    16947 non-null  int64
 5   Bureaucratic_Code_0_Approval        16947 non-null  int64
 6   Bureaucratic_Code_0_Approved        16947 non-null  int64
 7   Submitted_for_Approval              16947 non-null  int64
 8   Bureaucratic_Code                   16947 non-null  object
 9   Account_Created_Date                16947 non-null  object
 10  Source                              16947 non-null  object
 11  Billing_Country                     16947 non-null  object
 12  Account_Name                        16947 non-null  object
 13  Opportunity_Name                    16947 non-null  object
 14  Opportunity_ID                      16947 non-null  int64
 15  Sales_Contract_No                   16947 non-null  object
 16  Account_Owner                       16947 non-null  object
 17  Opportunity_Owner                   16947 non-null  object
 18  Account_Type                        16947 non-null  object
 19  Opportunity_Type                    16947 non-null  object
 20  Quote_Type                          16947 non-null  object
 21  Delivery_Terms                      16947 non-null  object
 22  Opportunity_Created_Date            16947 non-null  object
 23  Brand                               16947 non-null  object
 24  Product_Type                        16947 non-null  object
 25  Size                                16947 non-null  object
 26  Product_Category_B                  16947 non-null  object
 27  Price                               16947 non-null  object
 28  Currency                            16947 non-null  object
 29  Last_Activity                       16947 non-null  object
 30  Quote_Expiry_Date                   16947 non-null  object
 31  Last_Modified_Date                  16947 non-null  object
 32  Last_Modified_By                    16947 non-null  object
 33  Product_Family                      16947 non-null  object
 34  Product_Name                        16947 non-null  object
 35  ASP_Currency                        16947 non-null  object
 36  ASP                                 13738 non-null  float64
 37  ASP_(converted)_Currency            16947 non-null  object
 38  ASP_(converted)                     13738 non-null  float64
 39  Planned_Delivery_Start_Date         16947 non-null  object
 40  Planned_Delivery_End_Date           16947 non-null  object
 41  Month                               16947 non-null  object
 42  Delivery_Quarter                    16947 non-null  object
 43  Delivery_Year                       16947 non-null  int64
 44  Actual_Delivery_Date                16947 non-null  object
 45  TRF                                 16947 non-null  int64
 46  Total_Amount_Currency               16947 non-null  object
 47  Total_Amount                        16888 non-null  float64
 48  Total_Taxable_Amount_Currency       16947 non-null  object
 49  Total_Taxable_Amount                16947 non-null  float64
 50  Stage                               16947 non-null  object
 51  Prod_Category_A                     16947 non-null  object
dtypes: float64(4), int64(9), object(39)
memory usage: 6.7+ MB

## 2 - Los 10 registros con mayor "Total_Amount" para la Region EMEA

Obtengo el data frame con solo valores de EMEA para la Region. Y me quedo con las columnas necesarias.

In [4]:
df_EMEA = df[df['Region'] == 'EMEA']
df_EMEA = df_EMEA[['ID', 'Region','Territory', 'Delivery_Quarter', 'Delivery_Year','Total_Amount']]
df_EMEA['Region'].value_counts()

EMEA    4664
Name: Region, dtype: int64

In [5]:
df_EMEA['Total_Amount'].value_counts()

91350.00      51
72543.75      25
79800.00      18
89175.00      18
0.00          17
              ..
134400.00      1
66192.50       1
21840.00       1
6792120.00     1
95700.00       1
Name: Total_Amount, Length: 3153, dtype: int64

In [6]:
df_EMEA.sort_values(by='Total_Amount', ascending = False).head(10)

         ID Region    Territory Delivery_Quarter  Delivery_Year  Total_Amount
2179  10808   EMEA         None               Q2           2016  2.162400e+08
3667   8037   EMEA   SE America               Q3           2017  1.539788e+08
2806   4909   EMEA  UAE (Dubai)               Q1           2017  1.237501e+08
1933  10620   EMEA   Kazakhstan               Q2           2016  3.960007e+07
2957  13709   EMEA      Romania               Q2           2016  3.603600e+07
598    4865   EMEA       France               Q4           2017  3.480420e+07
7898  15287   EMEA      Belgium               Q1           2018  3.332493e+07
1817  10350   EMEA      Romania               Q3           2017  2.880198e+07
3684  20848   EMEA        Italy               Q4           2016  2.879760e+07
5669  17668   EMEA      Germany               Q1           2017  2.829750e+07

## 3 - Promedio del precio en el territorio Aleman

In [38]:
df_Germany = df[df['Territory'] == 'Germany']
df_Germany['Price'].value_counts()

None     1502
Other      71
0.28       17
0.24       17
0.23       10
0.27        9
0.245       8
0.305       6
0.3         5
0.22        5
0.26        5
0.29        4
0.2         3
0.31        3
0.275       3
0.285       3
0.215       2
0.295       2
0.32        1
0.265       1
0.34        1
0.335       1
0.375       1
0.33        1
0.235       1
Name: Price, dtype: int64

Como se ve la columna precios contiene 'None' y 'Other', lo cual para hacer el calculo del promedio los voy a cambiar por 0

In [39]:
df_Germany = df_Germany[(df_Germany.Price.str.contains('None') == False) & (df_Germany.Price.str.contains('Other') == False)]
df_Germany['Price'].value_counts()

0.24     17
0.28     17
0.23     10
0.27      9
0.245     8
0.305     6
0.22      5
0.26      5
0.3       5
0.29      4
0.31      3
0.2       3
0.285     3
0.275     3
0.295     2
0.215     2
0.235     1
0.265     1
0.34      1
0.33      1
0.32      1
0.335     1
0.375     1
Name: Price, dtype: int64

Una vez acomodado eso hago el calculo correspondiente. Hago a su vez una transformacion a floats, ya que habia un problema de que me tomaba algun valor como si fuese string y no podia calcular la media

In [42]:
germany_prices = pd.to_numeric(df_Germany['Price'])
germany_prices.mean()

0.26467889908256864