In [1]:
import pandas as pd
import numpy as np
import datetime

import warnings
warnings.filterwarnings('ignore')

data_path = "data.csv"
date_cero = pd.to_datetime(1490195805, unit='s') - pd.to_datetime(1490195805, unit='s')

# Analisis de los datos

In [2]:
df = pd.read_csv(data_path)

In [3]:
df.shape

(16947, 52)

In [4]:
df.describe()

,ID,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Opportunity_ID,ASP,ASP_(converted),Delivery_Year,TRF,Total_Amount,Total_Taxable_Amount
count,16947.000000,16947.000000,16947.000000,16947.000000,16947.000000,16947.0,16947.000000,13738.000000,13738.000000,16947.000000,16947.000000,1.688800e+04,1.694700e+04
mean,17666.650440,0.807990,0.583584,0.475482,0.318876,0.0,5335.940225,7.012128,0.432554,2017.137428,2.338172,1.993659e+06,3.224117e+06
std,6940.859372,0.393893,0.492979,0.499413,0.466055,0.0,3324.723809,18.858359,0.758659,0.829603,12.169339,1.848426e+07,2.030360e+07
min,4854.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2016.000000,0.000000,0.000000e+00,0.000000e+00
25%,11953.000000,1.000000,0.000000,0.000000,0.000000,0.0,2448.500000,0.360000,0.373260,2016.000000,0.000000,2.677500e+04,8.546580e+04
50%,18114.000000,1.000000,1.000000,0.000000,0.000000,0.0,5306.000000,0.400000,0.412850,2017.000000,0.000000,1.072500e+05,3.760672e+05
75%,23845.500000,1.000000,1.000000,1.000000,1.000000,0.0,7698.000000,0.505000,0.476490,2018.000000,1.000000,4.603898e+05,1.037450e+06
max,28773.000000,1.000000,1.000000,1.000000,1.000000,0.0,12803.000000,80.000000,67.000000,2020.000000,500.000000,1.320000e+09,1.356339e+09

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16947 non-null  int64
 1   Region                              16947 non-null  object
 2   Territory                           16947 non-null  object
 3   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  int64
 4   Pricing, Delivery_Terms_Approved    16947 non-null  int64
 5   Bureaucratic_Code_0_Approval        16947 non-null  int64
 6   Bureaucratic_Code_0_Approved        16947 non-null  int64
 7   Submitted_for_Approval              16947 non-null  int64
 8   Bureaucratic_Code                   16947 non-null  object
 9   Account_Created_Date                16947 non-null  object
 10  Source                              16947 non-null  object
 11  Billing_Country                     16947 non-null  object
 12  Account_Name                        16947 non-null  object
 13  Opportunity_Name                    16947 non-null  object
 14  Opportunity_ID                      16947 non-null  int64
 15  Sales_Contract_No                   16947 non-null  object
 16  Account_Owner                       16947 non-null  object
 17  Opportunity_Owner                   16947 non-null  object
 18  Account_Type                        16947 non-null  object
 19  Opportunity_Type                    16947 non-null  object
 20  Quote_Type                          16947 non-null  object
 21  Delivery_Terms                      16947 non-null  object
 22  Opportunity_Created_Date            16947 non-null  object
 23  Brand                               16947 non-null  object
 24  Product_Type                        16947 non-null  object
 25  Size                                16947 non-null  object
 26  Product_Category_B                  16947 non-null  object
 27  Price                               16947 non-null  object
 28  Currency                            16947 non-null  object
 29  Last_Activity                       16947 non-null  object
 30  Quote_Expiry_Date                   16947 non-null  object
 31  Last_Modified_Date                  16947 non-null  object
 32  Last_Modified_By                    16947 non-null  object
 33  Product_Family                      16947 non-null  object
 34  Product_Name                        16947 non-null  object
 35  ASP_Currency                        16947 non-null  object
 36  ASP                                 13738 non-null  float64
 37  ASP_(converted)_Currency            16947 non-null  object
 38  ASP_(converted)                     13738 non-null  float64
 39  Planned_Delivery_Start_Date         16947 non-null  object
 40  Planned_Delivery_End_Date           16947 non-null  object
 41  Month                               16947 non-null  object
 42  Delivery_Quarter                    16947 non-null  object
 43  Delivery_Year                       16947 non-null  int64
 44  Actual_Delivery_Date                16947 non-null  object
 45  TRF                                 16947 non-null  int64
 46  Total_Amount_Currency               16947 non-null  object
 47  Total_Amount                        16888 non-null  float64
 48  Total_Taxable_Amount_Currency       16947 non-null  object
 49  Total_Taxable_Amount                16947 non-null  float64
 50  Stage                               16947 non-null  object
 51  Prod_Category_A                     16947 non-null  object
dtypes: float64(4), int64(9), object(39)
memory usage: 6.7+ MB

In [6]:
df.head()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,Q1,2016,NaT,0,EUR,48230.0,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None

In [7]:
df.dtypes.value_counts()

object     39
int64       9
float64     4
dtype: int64

In [8]:
df['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Proposal           35
Negotiation        18
Qualification      11
Name: Stage, dtype: int64

In [30]:
pricing = df[(df['Stage'] == 'Closed Lost') | (df['Stage'] == 'Closed Won')]\
[['Pricing, Delivery_Terms_Quote_Appr', 'Submitted_for_Approval', 'Pricing, Delivery_Terms_Approved', 'Stage', 'TRF']]

pricing

,"Pricing, Delivery_Terms_Quote_Appr",Submitted_for_Approval,"Pricing, Delivery_Terms_Approved",Stage,TRF
0,1,0,1,Closed Lost,10
1,0,0,0,Closed Won,0
2,0,0,0,Closed Won,0
3,1,0,0,Closed Lost,14
4,1,0,0,Closed Lost,25
...,...,...,...,...,...
16942,1,0,1,Closed Won,0
16943,1,0,1,Closed Won,0
16944,1,0,1,Closed Won,0
16945,1,0,1,Closed Lost,4
16946,1,0,1,Closed Lost,40

In [31]:
pricing['Pricing, Delivery_Terms_Quote_Appr'] = pricing['Pricing, Delivery_Terms_Quote_Appr'] == 1
pricing['Submitted_for_Approval'] = pricing['Submitted_for_Approval'] == 1
pricing['Pricing, Delivery_Terms_Approved'] = pricing['Pricing, Delivery_Terms_Approved'] == 1
pricing

,"Pricing, Delivery_Terms_Quote_Appr",Submitted_for_Approval,"Pricing, Delivery_Terms_Approved",Stage,TRF
0,True,False,True,Closed Lost,10
1,False,False,False,Closed Won,0
2,False,False,False,Closed Won,0
3,True,False,False,Closed Lost,14
4,True,False,False,Closed Lost,25
...,...,...,...,...,...
16942,True,False,True,Closed Won,0
16943,True,False,True,Closed Won,0
16944,True,False,True,Closed Won,0
16945,True,False,True,Closed Lost,4
16946,True,False,True,Closed Lost,40

In [39]:
exitoVSaprobacion = pricing.groupby(['Pricing, Delivery_Terms_Quote_Appr', 'Submitted_for_Approval', 'Pricing, Delivery_Terms_Approved', 'Stage'])['TRF'].count().to_frame()
exitoVSaprobacion.columns = ['Count']
exitoVSaprobacion = exitoVSaprobacion.reset_index()
exitoVSaprobacion

,"Pricing, Delivery_Terms_Quote_Appr",Submitted_for_Approval,"Pricing, Delivery_Terms_Approved",Stage,Count
0,False,False,False,Closed Lost,1136
1,False,False,False,Closed Won,2118
2,True,False,False,Closed Lost,2771
3,True,False,False,Closed Won,1011
4,True,False,True,Closed Lost,3443
5,True,False,True,Closed Won,6404

# Desarrollo del analisis

Haciendo el analisis en el pipeline, evaluamos en funcion de las oportunidades que terminaron ya sean 'Closed Lost' como 'Closed Won' y con estos vemos tanto las fechas pactadas de delivery con la ultima modificacion y su fecha de creacion, tambien lo agrupamos por region y analizamos tambien la media de esto en 'TRF'.

In [9]:
df_fin = df[(df['Stage'] == 'Closed Lost') | (df['Stage'] == 'Closed Won')]\
[['Planned_Delivery_End_Date', 'Opportunity_Created_Date', 'Stage', 'Last_Modified_Date', 'Region', 'TRF']]

df_fin

,Planned_Delivery_End_Date,Opportunity_Created_Date,Stage,Last_Modified_Date,Region,TRF
0,6/30/2016,12/7/2015,Closed Lost,6/13/2016,EMEA,10
1,1/20/2016,12/7/2015,Closed Won,1/15/2016,EMEA,0
2,1/25/2016,12/8/2015,Closed Won,9/29/2016,Americas,0
3,3/31/2018,12/8/2015,Closed Lost,3/27/2018,Americas,14
4,2/28/2018,12/8/2015,Closed Lost,3/27/2018,Americas,25
...,...,...,...,...,...,...
16942,3/25/2016,12/4/2015,Closed Won,1/19/2016,EMEA,0
16943,4/8/2016,12/4/2015,Closed Won,1/19/2016,EMEA,0
16944,3/31/2016,12/4/2015,Closed Won,1/19/2016,EMEA,0
16945,4/29/2016,12/5/2015,Closed Lost,1/22/2016,Americas,4
16946,8/31/2016,12/5/2015,Closed Lost,9/28/2016,Americas,40

In [10]:
df_fin['Planned_Delivery_End_Date'] = pd.to_datetime(df_fin['Planned_Delivery_End_Date'])
df_fin['Opportunity_Created_Date'] = pd.to_datetime(df_fin['Opportunity_Created_Date'])
df_fin['Last_Modified_Date'] = pd.to_datetime(df_fin['Last_Modified_Date'])

In [11]:
df_fin['time_modified_diff'] = df_fin['Last_Modified_Date'] - df_fin['Opportunity_Created_Date']
df_fin['time_modified_diff'] = df_fin['time_modified_diff'].dt.days
df_fin['modified_in_time'] = df_fin['Planned_Delivery_End_Date'] - df_fin['Last_Modified_Date'] > date_cero
df_fin

,Planned_Delivery_End_Date,Opportunity_Created_Date,Stage,Last_Modified_Date,Region,TRF,time_modified_diff,modified_in_time
0,2016-06-30,2015-12-07,Closed Lost,2016-06-13,EMEA,10,189,True
1,2016-01-20,2015-12-07,Closed Won,2016-01-15,EMEA,0,39,True
2,2016-01-25,2015-12-08,Closed Won,2016-09-29,Americas,0,296,False
3,2018-03-31,2015-12-08,Closed Lost,2018-03-27,Americas,14,840,True
4,2018-02-28,2015-12-08,Closed Lost,2018-03-27,Americas,25,840,False
...,...,...,...,...,...,...,...,...
16942,2016-03-25,2015-12-04,Closed Won,2016-01-19,EMEA,0,46,True
16943,2016-04-08,2015-12-04,Closed Won,2016-01-19,EMEA,0,46,True
16944,2016-03-31,2015-12-04,Closed Won,2016-01-19,EMEA,0,46,True
16945,2016-04-29,2015-12-05,Closed Lost,2016-01-22,Americas,4,48,True
16946,2016-08-31,2015-12-05,Closed Lost,2016-09-28,Americas,40,298,False

In [12]:
df_fin.groupby(['Stage', 'modified_in_time', 'Region'])\
.agg({'time_modified_diff':'mean', 'modified_in_time':'count', 'TRF':'mean'})

                                          time_modified_diff  \
Stage       modified_in_time Region
Closed Lost False            APAC                 270.458268
                             Americas             281.977160
                             EMEA                 237.147217
                             Japan                283.964676
                             Middle East          259.560976
            True             APAC                 155.873611
                             Americas             123.192410
                             EMEA                 133.806512
                             Japan                149.453782
                             Middle East           73.184211
Closed Won  False            APAC                 231.159057
                             Americas             217.406667
                             EMEA                 243.023551
                             Japan                198.410891
                             Middle East          205.400000
            True             APAC                  45.561338
                             Americas              68.963661
                             EMEA                  49.990184
                             Japan                 44.913237
                             Middle East           18.920000

                                          modified_in_time        TRF
Stage       modified_in_time Region
Closed Lost False            APAC                      635   4.548031
                             Americas                 1007   3.555114
                             EMEA                     1114   2.726212
                             Japan                    1189   0.052986
                             Middle East                82   6.317073
            True             APAC                      720  10.411111
                             Americas                 1133   9.914387
                             EMEA                     1075   6.216744
                             Japan                     357   1.725490
                             Middle East                38   7.868421
Closed Won  False            APAC                     1358   0.172312
                             Americas                 1050   0.801905
                             EMEA                     1656   0.405193
                             Japan                    2424   0.028878
                             Middle East                25   0.120000
            True             APAC                      538   0.172862
                             Americas                  743   0.803499
                             EMEA                      815   0.496933
                             Japan                     899   0.114572
                             Middle East                25   0.200000